/* @@author A0135768R */

.command-box {
	-fx-background-insets: 0;
	-fx-border-insets: 0;
    -fx-background-color: transparent, #f46060, transparent, #f46060;
    -fx-border-width: 1px ;
    -fx-border-color: #f46060 #f46060 #ffffff #f46060;
}

.result-display {
	-fx-font-family: "Open Sans Light" ;
	-fx-font-size: 14pt;
	-fx-text-fill: #7f7f7f ;
	-fx-background-insets: 0;
    -fx-background-color: transparent, #ececec, transparent, #ececec;
}

.badCommand {
	-fx-border-width: 3px ;
    -fx-border-color: #de5347 ;
    -fx-text-fill: #de5347 ;
}

.validCommand {
	-fx-border-width: 3px ;
    -fx-border-color: #1aa260 ;
    -fx-text-fill: #1aa260 ;
}

.error {
    -fx-background-color: #b50000;
}


.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

/*
 * ====================================================================
 * ======================STYLES FOR CIRCLES============================
 * ====================================================================
 */

.circle_reminder {
	-fx-fill: derive(#4b8bf5, 0%);
}

.circle_deadline {
	-fx-fill: derive(#ffce43, 0%);
}
.circle_high {
	-fx-fill: derive(#de5347, 0%);
}

.circle_done {
	-fx-fill: derive(#1aa260, 0%);
}

.circle_block {
	-fx-fill: none ;
}

/*
 * ====================================================================
 * ======================STYLES FOR TITLES=============================
 * ====================================================================
 */
 
.cell_big_label_done .text {
	-fx-font-family: "Open Sans Light";
	-fx-strikethrough: true ;
	-fx-font-size: 16px;
    -fx-text-fill: #010504 ;
}

.cell_big_label_overdue {
	-fx-font-family: "Open Sans Semibold";
    -fx-font-size: 16px;
    -fx-font-weight: bold ;
    -fx-text-fill: #f46060 !important ;
}

.cell_big_label_block {
	-fx-font-family: "Open Sans Light";
    -fx-font-size: 16px;
    -fx-text-fill: #4f4f4e !important ;
}

/*
 * ====================================================================
 * ======================STYLES FOR DATES==============================
 * ====================================================================
 */

.time_block {
	-fx-text-fill: #4f4f4e !important ;
	-fx-font-size: 10pt;
}

.time_upcoming {
	-fx-text-fill: #4b8bf5 !important ;
	-fx-font-family: "Open Sans Semibold";
	-fx-font-size: 10pt;
}

.time_overdue {
	-fx-text-fill: #f46060 !important ;
	-fx-font-size: 10pt;
}


.time_done {
	-fx-text-fill: #010504 !important ;
	-fx-font-size: 10pt;
}

/*
 * Hides horizontal scrolling in list views
 */

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

/* Empty cells will not have alternating colours */
.list-cell:empty {
    -fx-background: #ececec ;
}
