
.cell_big_label_done .text {
	-fx-font-family: "Open Sans Light";
	-fx-strikethrough: true ;
	-fx-font-size: 16px;
    -fx-text-fill: #010504 ;
}

.cell_big_label_overdue {
	-fx-font-family: "Open Sans Semibold";
    -fx-font-size: 16px;
    -fx-font-weight: bold ;
    -fx-text-fill: #f46060 !important ;
}

.cell_big_label_block {
	-fx-font-family: "Open Sans Light";
    -fx-font-size: 16px;
    -fx-text-fill: #dcccc2 ;
}

.error {
    -fx-background-color: #b50000;
}


.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.circle_low {
	-fx-fill: derive(#4b8bf5, 0%);
}

.circle_med {
	-fx-fill: derive(#ffce43, 0%);
}
.circle_high {
	-fx-fill: derive(#de5347, 0%);
}

.circle_done {
	-fx-fill: derive(#1aa260, 0%);
}


.circle_block {
	-fx-fill: none ;
}

